.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*~

*.log
tmp/
*.tmp
temp/
.cache/

/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
coverage.html
vendor/

node_modules/
dist/
build/
.pnpm-store/
*.log
.pnpm-debug.log*

gen/
.scratch/

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
!*.tfvars.example