aws_region = "${aws_region}"
database_host = "${database_host}"
environment = "${environment}"
infisical_machine_identity_id = "${machine_identity}"
infisical_project_id = "${project_id}"
infisical_secret_root = "${secret_root}"
